<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/list.css" />
</th:block>

<div layout:fragment="content" class="content container">
	<h2>학생 리스트</h2>
		<div class="searchbtn">
			<form action="/list" method="post" name="searchForm" class="searchbtn2">
				<select class="form-select form-select-sm"
					aria-label=".form-select-sm example" name="searchKey">
					<option value="name">이름</option>
					<option value="grade">학년</option>
				</select>
				<input type="text" name="searchValue" class="textField" />
				<input class="btn btn-secondary btn-sm" type="submit" value="검 색" onclick="sendIt();" />
			</form>
		</div>
		
		<div>
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col" class="id">아이디</th>
			      <th scope="col" class="name">이름</th>
			      <th scope="col" class="grade">학년</th>
			      <th scope="col" class="ban">반</th>
			    </tr>
			  </thead>
			  <tbody id="lists">
			    <tr th:if="${#lists.size(lists)} > 0" th:each="school:${lists}">
			      <th scope="row" class="id" th:text="${school.id}"></th>
			      <td class="name">
			      	<a th:href="|@{${articleUrl}}&id=@{${school.id}}|" th:text="${school.name}"></a>
			      </td>
			      <td class="grade" th:text="${school.grade}"></td>
			      <td class="ban" th:text="${school.ban}"></td>
			    </tr>
				
			    <tr th:if="${#lists.size(dataCount)} < 0">
			    	<td colspan="5">등록된 게시물이 없습니다</td>
			    </tr>
			    
			   </tbody>
			 </table>
		</div>
		
		<div>
			<nav aria-label="Page navigation example">
				  <ul class="pagination" th:if="${#lists.size(dataCount)} > 0" th:utext="${pageIndexList}">
				  </ul>
			</nav>
		</div>
		
		<div>
			<input class="btn btn-secondary btn-sm" type="button" value="학생등록하기" onclick="javascript:location.href='/created';">
			<input class="btn btn-secondary btn-sm" type="button" value="학생목록" onclick="javascript:location.href='/list';">
		</div>
		
		
		
		
		
		
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		var errorMessage1 = [[${param.errorMessage}]];
		var errorMessage2 = [[${errorMessage}]];
		
		if(errorMessage1 != null){
			alert(errorMessage1);
		}
		
		if(errorMessage2 != null){
			alert(errorMessage2);
		}
		
		function sendIt(){
			var f = document.searchForm;
			var str = f.searchValue.value;
			str = str.trim();
			
			if(!str){
				alert("검색어를 입력하세요");
				f.searchValue.focus();
				return;
			}
			
			f.submit();
		}
	</script>
</th:block>

</html>